@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Styles généraux pour la disposition des éléments */
.guides-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styles pour les catégories */
.guides-categories {
  margin: 70px 0;
}

.guides-col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.guides-col-3 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.guides-small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.guides-col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}

.guides-col-4 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.guides-title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.guides-title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.guides-col-4 p {
  font-size: 14px;
  color: #777;
}

.guides-col-4:hover {
  transform: translateY(-5px);
}

/* Offer */
.guides-offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.guides-col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.guides-col-2 .guides-offer-img {
  padding: 50px;
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

small {
  color: #555;
}

.guides-btn {
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 30px;
  transition: background 0.5s;
  text-decoration: none;
}

.guides-btn:hover {
  background: #563434;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .guides-row {
    text-align: center;
  }
  .guides-col-2,
  .guides-col-3,
  .guides-col-4 {
    flex-basis: 100%;
  }
}