.success-cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Prend toute la hauteur de la fenêtre */
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  p {
    margin: 10px 0;
  }

  a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}