// frontend/src/modules/SuccessCancelModule/SuccessCancelModule.scss
@import '../../styles/App.scss';

.success-cancel-module {
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 2rem;
    color: $primary-text-color;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: $medium-gray;
    margin-bottom: 1rem;
  }

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}